@font-face {
    font-family: 'Poppins-500';
    src: url('./fonts/Poppins-Medium.woff');
}
@font-face {
    font-family: 'Poppins-600';
    src: url('./fonts/Poppins-SemiBold.woff');
}
@font-face {
    font-family: 'Poppins-400';
    src: url('./fonts/Poppins-Regular.woff');
}
